<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="../css/styles.css" type="text/css" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
    <div class='image-container'>
        <img class='img-big' src='../images/{{ image.image_name }}'>
    </div>
</body>
</html>